/* General reset and basic styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.8;
  }
  
  .container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 40px 0;
    text-align: center;
  }
  
  header h1 {
    font-size: 3rem;
    margin-bottom: 10px;
  }
  
  header p {
    font-size: 1.2rem;
    font-style: italic;
  }
  
  /* Header - Home button */
  .header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .home-button {
    background-color: pink;
    color: #fff;
    font-size: 1.5rem; /* Increased font size */
    padding: 15px 30px; /* Increased padding */
    margin-top: 25px; /* Adjusted margin for better spacing */
    border: none;
    border-radius: 8px; /* Slightly rounded corners */
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Added smooth transform for scaling */
  }
  
  .home-button:hover {
    background-color: #ff66b2;
    transform: scale(1.1); /* Slightly enlarges the button on hover */
  }
  
  main {
    padding: 20px 0;
  }
  
  .blog-post {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .blog-post .post-title {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #333;
  }
  
  .blog-post .post-meta {
    font-size: 1rem;
    color: #777;
    margin-bottom: 15px;
  }
  
  .blog-post .featured-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  .blog-post .post-content {
    font-size: 1.1rem;
    margin-bottom: 20px;
  }
  
  .blog-post .github-link {
    display: inline-block;
    padding: 12px 25px;
    background-color: #ff66b2;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
  }
  
  .blog-post .github-link:hover {
    background-color: #005bb5;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 15px;
    text-align: center;
  }
  
  footer p {
    font-size: 1rem;
  }
  